#footer{
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#footer_top>ul{
    display: flex;
    /* border:2px solid green; */
    gap:1rem;
    padding:0rem;
    justify-content: center;
    align-items: flex-start;
}

#footerSection{
    display: grid;
    grid-template-columns: 20% 30% 20% 25%;
    margin-left: 1rem;
}
#footer_bottom{
    /* border:2px solid red; */
    display:flex;
    flex-direction:column;
    gap:0.5rem;
    padding:.5rem 0rem;
    justify-content: center;
    align-items: center;
}
.footer_li{
    list-style: none;
    padding:0px;
}
.footer_li>ul{
    padding:0px;    
}
.footer_li_li{
    color:#007E8F;
    margin:0.9rem;
    margin-right:3rem;
    padding-left:-1rem;
    /* border:2px solid red; */
}
.footer_li_li:hover{
    text-decoration: underline;
    cursor:default;
}
.footer_ul{
    padding:0px;
}
#footer_img{
    margin-top:1rem;

   
}
.footer_heading_h3{
    margin-left:0.9rem;

}
#foot_hr{
    width:85%;
    opacity: 0.3;
}



@media all and (min-width:500px) and (max-width:1100px){
    #footer_img{
        margin-bottom:-3rem;
        margin-left:1.6rem;
    }
    #footer_top>ul{
        flex-direction: column;
    }

    #footerSection{
        margin-top:1rem;
        display: grid;
        grid-template-columns: 45% 55%;
        margin-left: 1rem;
        justify-content: center;
        align-items: center;

    }
    .explore{
        margin-top:3rem;
    }

    #footer{
        padding-bottom:3rem;
    }

}