*, ::before, ::after {
    box-sizing: inherit;
}
#Html_home
{
    font-size: 100%;
}


body{
    margin:0px;
    padding:0px;
    /* padding: 0rem 5rem; */
    /* background-color: black; */
    font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
#container{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#Checkbox_cont_div{
    display: flex;
    
}
#Cnt_data_div>div>div{
    display: flex;
    justify-content: center;
    gap:1rem;
}
#Cnt_data_div>div>div>button
{
    background-color: rgb(243, 235, 235);
    font-size:18px;
    border:1px solid gray;
}
/* #Cnt_data_div{
    width:90rem;
    border:2px solid red;
} */
#Cnt_data_div>div>div>input{
    /* background-color: green; */
    border:1px solid gray;
    padding:1rem;
    font-size:18px;
    outline-color: green;
}
#Checkbox_cont_div{
    display: flex;
    gap:2rem;
}
#Checkbox_cont_div>div{
    /* border:2px solid red; */
    padding:1rem;
    box-sizing: border-box;
    margin-top:1rem;
}
#Cont_offers{
    /* width:98rem; */
    padding:0rem 2rem;
    margin:auto;
    line-height: 1rem;
    box-sizing: border-box;
    /* border:2px solid red; */
}
#Destination{
    width:40%;
}
#Hr_cont_div{
    margin:2rem 0rem;
}
#Checkbox_cont_div{
    /* border:2px solid green; */
    display: flex;
    /* justify-content: center; */
    margin-left:5rem;
}
#cont_div_div{
    display: flex;
    justify-content: center;
    margin-top:2rem;
    margin-bottom:2rem;
    
}
#cont_div_div>button{
    background-color: rgb(178, 46, 68);
    color:white;
    /* padding:0.8rem; */
    padding:1rem 3rem;
    font-size: 25px;
    border-radius: 5px;
}
#Cont_offers>div{
    width:100%;
    /* border:2px solid blue; */
    box-sizing: border-box;
    height:auto;
    margin:auto;
}
#Cont_plans_img{
    /* border:2px solid green; */
    background: url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/01/ORB_Storefront_6_imgB_1400x600_20211028.jpg?impolicy=fcrop&w=600&h=150&q=medium")no-repeat center center/cover;
    width:100%;
    height:35rem;
    position:relative;
    top:0px;
    left:0px;
    opacity:2;
    display: flex;
    justify-content: center;
}
#Cnt_data_div{
    border:2px solid;
    /* width:50rem; */
    margin:auto;
    border-radius: 1rem;
    overflow: hidden;
}

#cont_via{
    /* border:2px solid green; */
    width:78rem;
    /* width:60rem; */
    height:23rem;
    position:relative;
    top:5rem;
    background-color: white;
    padding:1rem;
    font-size: 18px;
    border-radius: 1rem;
}
#cont_via_div_div{
    /* background-color: rgb(177, 170, 170); */
    width:60%;
    height:2rem;
    margin:auto;
    display: flex;
    justify-content:space-between;
    padding:0rem 3rem;
}
#cont_via_div_div>a{
    font-size: 18px;
    text-decoration: none;
    color:black;
    padding-bottom:0.5rem;
}
#cont_via_div_div>a:hover{
    color:#007E8F;
    border-bottom: 3px solid #007E8F;
}
#cont_via_div_div>a>span{
    font-weight: 700;
}
#Travel_div{
    /* border:2px solid red; */
    padding:0.5rem;
    display:flex;
    justify-content: center;
    gap:1rem;
    /* width:auto; */
}
.Cont_div_travel{
    /* border:2px solid green; */
    width:100%;
    height:100%;
}
.Cont_div_travel>img{
    width:100%;
    height:100%;
    /* border:2px solid red; */
    
}
#Travel_div>div{
    display:grid;
    grid-template-columns: repeat(3 1fr);
    /* border:2px solid red; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
}
#Travel_div{
    width:100%;
    box-sizing: border-box;
}
#Featured_offers>div{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
#Featured_offers_img{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* border:2px solid red; */
    gap:1rem;
    margin-bottom: 1rem;
}
#Featured_offers_img>div{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height:12rem;
}


#Featured_offers_img>div>img{
    width:100%;
    height:100%;
    /* border:2px solid red; */

}
.featured_offers_heading{
    color:white;
    /* border:1px solid red; */
    position: relative;
    z-index: 1000;
    bottom:5.2rem;
    left:0.8rem;
}
.featured_offers_heading>h2{
    margin-bottom:-1rem;
}
.featured_offers_heading>p{
    margin-bottom:0px;
}
#anventures_div>div>img{
    width:100%;
    height:100%;
}
#anventures_div{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:2px solid green; */
}
#anventures_div>div:nth-child(1){
    flex:1.5;
    height:11rem;
}
#anventures_div>div:nth-child(2){
    flex:2;
    padding-left: 1rem;
    /* border:2px solid violet; */
}
#adventures_h1{
    font-size: 14px;
}
#adventures_p{
    font-size: 14px;
}

#car_rental_deals{
    display: flex;
    gap:1rem;
}
#car_rental_deals>div:nth-child(1){
    flex:1.5;
    height:20rem;
}
#car_rental_deals>div:nth-child(2){
    flex:1;
    height:20rem;
}
#car_rental_deals>div>img{
    width:100%;
    height:100%;
}
#Here_to_help>div{
    width:100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
#Here_to_help>div>div{
    /* border:2px solid red; */
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: aliceblue;
}
#Here_to_help>div>div>div{
    /* border:1px solid gray; */
    padding:0rem 1rem;
    box-sizing: border-box;
    border-radius: 2px;
}
.Here_toHelp_h2_tag{
    display: flex;
    justify-content: space-between;
}
.Here_toHelp_h2_tag>img{
     height:2rem;
     margin-top: 1.2rem;
}
#Traveling_tips{
    display: flex;
    flex-direction: column;
    /* border:2px solid red; */
    height:60rem;
}

#Travelling_tips_main{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap:2rem;
      /* border:2px solid violet; */
      height:18rem;
}
.Traveling_tips_divs>div{
    height:15rem;
}
.Traveling_tips_divs>div:nth-child(1)>img{
      width:100%;
      height:100%;
      opacity: 1;
      color:black;
}
.Traveling_tips_divs>div:nth-child(2){
    position: relative;
    bottom:8rem;
    left:1rem;
    color:rgb(254, 253, 253);
}
.Traveling_tips_button{
    padding:1rem;
    background-color: white;
    border:none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
}



#Rewards_are_waiting{
    line-height: 3rem;
    text-align: left;
}

#Rewards_are_waiting>div{
    display: flex;
    gap:2rem;
    justify-content: space-between;

}
#Rewards_are_waiting>div>div:nth-child(1){
    flex:1.7;
}
#Rewards_are_waiting>div>div:nth-child(2){
    flex:2;
}
#Rewards_are_waiting>div>div:nth-child(3){
    flex:0.6;
}
#Rewards_are_waiting>div>div>img{
    width:100%;
    height:100%;

}
#Rewards_are_waiting>div>div:nth-child(3)>img{
    width:12rem;
    height:12rem;
    /* border:2px solid red; */
}
#Rewards_are_waiting>div>div:nth-child(3){
     /* border:2px solid green; */
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     line-height: 1.7rem;
}
#Rewards_are_waiting>div>div:nth-child(3)>h2{
      width:10rem;
}
.Reward_li{
    margin-left:-1rem;
    font-size: 21px;
    width:30rem;
    line-height: 2rem;
}

#Reward_county_codes>select{
    width:10rem;
    height:3rem;
    font-size: 18px;
}
#Reward_county_codes>input{
    width:10rem;
    height:3rem;
    font-size: 18px;
}
#Reward_county_codes>button{
    background-color:#C83259; ;
    width:10rem;
    height:3rem;
    color:white;
    font-weight: 800;
    font-size: 18px;    
}
#reward_p_div{
    width:35rem;
    line-height: 1.3rem;
}
#reward_div_h1{
    width:30rem;
}
.Destination_svg{
    width:1rem;
    height:1rem;
    margin-top:1rem;
}
#More_detination_div>div{
    display: flex;
}
#More_destinations{
    /* border:2px solid; */
    padding:2rem;
    /* display: flex; */
    justify-content: center;
    padding-left:2rem;
    height:50rem;
}
#More_detination_div{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap:2rem;
    width:auto;
}
#More_detination_div>div{
    display: flex;
    justify-content: center;
    padding:0.5rem;
    background-color: rgb(177, 170, 170);
    font-size:1.1rem;
}
#footer_img{
    height:7rem;
    width:15rem;
    /* border:2px solid red; */
    margin-top:-1rem;
}









<<<<<<< HEAD


@media all and (min-width: 660px) and (max-width: 1000px) {
    html{
        font-size: 60%;
    }
    #Cont_plans_img{
        background: url("")no-repeat center center/cover;
    width:100%;
    height:35rem;
    position:relative;
    top:0px;
    left:0px;
    opacity:2;
    display: flex;
    justify-content: center;
    }
    #Cnt_data_div>div>div{
        padding-top: 1rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap:1rem;
    }
    #Hr_cont_div{
        width:70%;
        margin:2rem auto;

    }
    #Cnt_data_div>div>div>input{
        width:90%;
    }
    #Cnt_data_div>div>div>input[type="date"]{
        display: inline;
        width:30%;
        /* border:2px solid red; */
    }
    #Cnt_data_div>div>div>button
    {
        background-color: rgb(243, 235, 235);
        font-size:10px;
        border:1px solid gray;
    }
    #Cnt_data_div>div>div{
    /* display: flex; */
    justify-content: center;
    gap:1rem;
}
#Cnt_data_div>div>div>button
{
    background-color: rgb(243, 235, 235);
    font-size:18px;
    border:1px solid gray;
}
    span{
        font-size: 70%;
    }
    input{
        height:1rem;
        width:10rem;
        font-size: 1.2rem;
    }
    #Checkbox_cont_div>div{
        border:2px solid white;
        padding:0.5rem;
        padding-left:0.5rem;
        box-sizing: border-box;
        margin-top:1rem;

    }
    input[type="checkbox"]{
        height: 1.5rem;
        width: 1.5rem;
    }

    #Cnt_data_div{
        border:2px solid;
        width:70rem;
        margin:auto;
    }
    #Cont_plans{
        height:50rem;
        /* border:2px solid */
    }
    #Checkbox_cont_div {
        display: flex;
        justify-content:center;
    }
    #Cnt_data_div{
        border:2px solid;
        width:55rem;
        margin:auto;
    }
    #Travel_div{
        display:flex;
        flex-direction: column;
        gap:3rem;
        justify-content: center;
        align-items: center;
        
    }
    #anventures_div>div{
        width:100%;
        /* height:80%; */
        /* border: 2px solid red; */
    }
    #anventures_div>div>img{
        width:90%;
        /* border:2px solid green; */
    }
    
    #Cont_offers{
        width:80%;
        /* margin:auto; */
        line-height: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #cont_div_div>button{
        background-color: rgb(178, 46, 68);
        color:white;
        /* padding:0.8rem; */
        padding:1rem 3rem;
        font-size: 16px;
        border-radius: 5px;
    }
    #Cnt_data_div>div>div>button
{
    background-color: rgb(243, 235, 235);
    font-size:14px;
    border:1px solid gray;
}
#Cnt_data_div>div>div>button>span{
    font-size: 14px;
}
    #Travel_div>div{
       width:90%;
       /* border:2px solid red; */
    }
   #Html_home{
        font-size: 52%;
    }
    #Featured_offers{
        font-size: 25px;
        line-height: 5rem;
    }
    #Featured_offers_img{
        grid-template-columns: repeat(1, 1fr);
    }
    .featured_offers_heading{
        position: relative;
        z-index: 1000;
        bottom:12rem;
        left:1.5rem;
        line-height: 3rem;
    }
    .Featured_offers_div_div{
      font-size: 20px;
      /* margin-bottom:-3rem; */
    }
    #Featured_offers_img>div{
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        height:auto;
    }
    #anventures_div{
      flex-direction: column;
    }
    #anventures_div>div:nth-child(1){
        flex:2;
        height:8rem;
    }
    #anventures_div>div:nth-child(1)>img{
        width:100%;
        height:20rem;
        /*
         border:2px solid red; */
    }
    #Explore{
        width:50%;
        margin-right:-53rem;
    }
    #anventures_div>div:nth-child(2){
        flex:1;
        margin-left:-53rem;
        margin-top:1rem;
        /* border:2px solid violet; */
    }
    #anventures_div>div:nth-child(1){
        flex:1;
        /* height:11rem; */
    }
    #anventures_div>div:nth-child(2){
        flex:1;
        /* padding-left: 1rem; */
        /* border:2px solid violet; */
    }
    #anventures_div>div>img{
        width:50%;
        /* border:2px solid green; */
    }
    #car_rental_deals{
        display: none;
    }
    #Here_to_help>div>div{
        flex-direction: column;
        gap:1rem;
    }    
    #Travelling_tips_main{
        grid-template-columns: repeat(1, 1fr);
    }
    .Traveling_tips_divs>div:nth-child(2){
        position: relative;
        bottom:11rem;
        left:1rem;
        color:rgb(254, 253, 253);
    
    }
    
#Rewards_are_waiting>div{
    display: flex;
    /* jus */

}
#Rewards_are_waiting>div>div:nth-child(1){
    flex:1.7;
}
#Rewards_are_waiting>div>div:nth-child(2){
    flex:2;
}
#Rewards_are_waiting>div>div:nth-child(3){
    flex:0.6;
}

#Reward_county_codes>button{
    font-size: 10px;    
}

#Rewards_are_waiting>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#Rewards_are_waiting>div>div:nth-child(3){
    /* border:2px solid green; */
    display: none;
   
}
.Reward_li{
    margin-left:-1rem;
    font-size: 21px;
    width:100%;
    line-height: 3rem;
}
#Rewards_are_waiting>div>div{
    font-size: 12px;
}
.Destination_svg{
    width:3rem;
    height:3rem;
    margin-top:0rem;
}
#footer{
    font-size:14px;
}
#footer_img{
    height:5rem;
    width:10rem;
    /* border:2px solid red; */
    margin-top:-1rem;
}
#navbar_right>ul{
    display: none;
}
}



@media all and (min-width: 290px) and (max-width: 659px) {
    #Html_home{
        /* padding-left: 18rem; */
        padding-left: 10rem;
    }
=======
@media all and (min-width: 660px) and (max-width: 1000px) {
>>>>>>> 1dd721bc3f56d9d8bc61de8f4f9b35325ac9d7ae
    html{
        font-size: 60%;
    }
    #Cont_plans_img{
        background: url("")no-repeat center center/cover;
    width:100%;
    height:35rem;
    position:relative;
    top:0px;
    left:0px;
    opacity:2;
    display: flex;
    justify-content: center;
    }
    span{
        font-size: 70%;
    }
    input{
        height:1rem;
        width:10rem;
        font-size: 1.2rem;
    }
    #Checkbox_cont_div>div{
        border:2px solid white;
        padding:0.5rem;
        padding-left:0.5rem;
        box-sizing: border-box;
        margin-top:1rem;

    }
    input[type="checkbox"]{
        height: 1.5rem;
        width: 1.5rem;
    }

    #Cnt_data_div{
        border:2px solid;
        width:70rem;
        margin:auto;
    }
    #Cont_plans{
        height:50rem;
        /* border:2px solid */
    }
    #Cnt_data_div{
        border:2px solid;
        width:55rem;
        margin:auto;
    }
    #Travel_div{
        display:flex;
        flex-direction: column;
        gap:3rem;
        justify-content: center;
        align-items: center;
        
    }
    #anventures_div>div{
        width:100%;
        /* height:80%; */
        /* border: 2px solid red; */
    }
    #anventures_div>div>img{
        width:90%;
        /* border:2px solid green; */
    }
    #container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #Cont_offers{
        width:80%;
        /* margin:auto; */
        line-height: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #cont_div_div>button{
        background-color: rgb(178, 46, 68);
        color:white;
        /* padding:0.8rem; */
        padding:1rem 3rem;
        font-size: 16px;
        border-radius: 5px;
    }
    #Cnt_data_div>div>div>button
{
    background-color: rgb(243, 235, 235);
    font-size:14px;
    border:1px solid gray;
}
#Cnt_data_div>div>div>button>span{
    font-size: 14px;
}
    #Travel_div>div{
       width:90%;
       /* border:2px solid red; */
    }
   #Html_home{
        font-size: 52%;
    }
    #Featured_offers{
        font-size: 25px;
        line-height: 5rem;
    }
    #Featured_offers_img{
        grid-template-columns: repeat(1, 1fr);
    }
    .featured_offers_heading{
        position: relative;
        z-index: 1000;
        bottom:12rem;
        left:1.5rem;
        line-height: 3rem;
    }
    .Featured_offers_div_div{
      font-size: 20px;
      /* margin-bottom:-3rem; */
    }
    #Featured_offers_img>div{
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        height:auto;
    }
    #anventures_div{
      flex-direction: column;
    }
    #anventures_div>div:nth-child(1){
        flex:2;
        height:8rem;
    }
    #anventures_div>div:nth-child(1)>img{
        width:100%;
        height:20rem;
        /*
         border:2px solid red; */
    }
    #Explore{
        width:50%;
        margin-right:-53rem;
    }
    #anventures_div>div:nth-child(2){
        flex:1;
        margin-left:-53rem;
        margin-top:1rem;
        /* border:2px solid violet; */
    }
    #anventures_div>div:nth-child(1){
        flex:1;
        /* height:11rem; */
    }
    #anventures_div>div:nth-child(2){
        flex:1;
        /* padding-left: 1rem; */
        /* border:2px solid violet; */
    }
    #anventures_div>div>img{
        width:50%;
        /* border:2px solid green; */
    }
    #car_rental_deals{
        display: none;
    }
    #Here_to_help>div>div{
        flex-direction: column;
        gap:1rem;
    }    
    #Travelling_tips_main{
        grid-template-columns: repeat(1, 1fr);
    }
    .Traveling_tips_divs>div:nth-child(2){
        position: relative;
        bottom:11rem;
        left:1rem;
        color:rgb(254, 253, 253);
    
    }
    
#Rewards_are_waiting>div{
    display: flex;
    /* jus */

}
#Rewards_are_waiting>div>div:nth-child(1){
    flex:1.7;
}
#Rewards_are_waiting>div>div:nth-child(2){
    flex:2;
}
#Rewards_are_waiting>div>div:nth-child(3){
    flex:0.6;
}

#Reward_county_codes>button{
    font-size: 10px;    
}

#Rewards_are_waiting>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#Rewards_are_waiting>div>div:nth-child(3){
    /* border:2px solid green; */
    display: none;
   
}
.Reward_li{
    margin-left:-1rem;
    font-size: 21px;
    width:100%;
    line-height: 3rem;
}
#Rewards_are_waiting>div>div{
    font-size: 12px;
}
.Destination_svg{
    width:3rem;
    height:3rem;
    margin-top:0rem;
}
#footer{
    font-size:14px;
}
#footer_img{
    height:5rem;
    width:10rem;
    /* border:2px solid red; */
    margin-top:-1rem;
}
#navbar_right>ul{
    display: none;
}

}

<<<<<<< HEAD
=======


@media all and (min-width: 290px) and (max-width: 659px) {
    #Html_home{
        /* padding-left: 18rem; */
        padding-left: 10rem;
    }
    html{
        font-size: 60%;
    }
    #Cont_plans_img{
        background: url("")no-repeat center center/cover;
    width:100%;
    height:35rem;
    position:relative;
    top:0px;
    left:0px;
    opacity:2;
    display: flex;
    justify-content: center;
    }
    span{
        font-size: 70%;
    }
    input{
        height:1rem;
        width:10rem;
        font-size: 1.2rem;
    }
    #Checkbox_cont_div>div{
        border:2px solid white;
        padding:0.5rem;
        padding-left:0.5rem;
        box-sizing: border-box;
        margin-top:1rem;

    }
    input[type="checkbox"]{
        height: 1.5rem;
        width: 1.5rem;
    }

    #Cnt_data_div{
        border:2px solid;
        width:70rem;
        margin:auto;
    }
    #Cont_plans{
        height:50rem;
        /* border:2px solid */
    }
    #Cnt_data_div{
        border:2px solid;
        width:55rem;
        margin:auto;
    }
    #Travel_div{
        display:flex;
        flex-direction: column;
        gap:3rem;
        justify-content: center;
        align-items: center;
        
    }
    #anventures_div>div{
        width:100%;
        /* height:80%; */
        /* border: 2px solid red; */
    }
    #anventures_div>div>img{
        width:90%;
        /* border:2px solid green; */
    }
    #container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #Cont_offers{
        width:80%;
        /* margin:auto; */
        line-height: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #cont_div_div>button{
        background-color: rgb(178, 46, 68);
        color:white;
        /* padding:0.8rem; */
        padding:1rem 3rem;
        font-size: 16px;
        border-radius: 5px;
    }
    #Cnt_data_div>div>div>button
{
    background-color: rgb(243, 235, 235);
    font-size:14px;
    border:1px solid gray;
}
#Cnt_data_div>div>div>button>span{
    font-size: 14px;
}
    #Travel_div>div{
       width:90%;
       /* border:2px solid red; */
    }
   #Html_home{
        font-size: 52%;
    }
    #Featured_offers{
        font-size: 25px;
        line-height: 5rem;
    }
    #Featured_offers_img{
        grid-template-columns: repeat(1, 1fr);
    }
    .featured_offers_heading{
        position: relative;
        z-index: 1000;
        bottom:12rem;
        left:1.5rem;
        line-height: 3rem;
    }
    .Featured_offers_div_div{
      font-size: 20px;
      /* margin-bottom:-3rem; */
    }
    #Featured_offers_img>div{
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        height:auto;
    }
    #anventures_div{
      flex-direction: column;
    }
    #anventures_div>div:nth-child(1){
        flex:2;
        height:8rem;
    }
    #anventures_div>div:nth-child(1)>img{
        width:100%;
        height:20rem;
        /*
         border:2px solid red; */
    }
    #Explore{
        width:50%;
        margin-right:-53rem;
    }
    #anventures_div>div:nth-child(2){
        flex:1;
        margin-left:-53rem;
        margin-top:1rem;
        /* border:2px solid violet; */
    }
    #anventures_div>div:nth-child(1){
        flex:1;
        /* height:11rem; */
    }
    #anventures_div>div:nth-child(2){
        flex:1;
        /* padding-left: 1rem; */
        /* border:2px solid violet; */
    }
    #anventures_div>div>img{
        width:50%;
        /* border:2px solid green; */
    }
    #car_rental_deals{
        display: none;
    }
    #Here_to_help>div>div{
        flex-direction: column;
        gap:1rem;
    }    
    #Travelling_tips_main{
        grid-template-columns: repeat(1, 1fr);
    }
    .Traveling_tips_divs>div:nth-child(2){
        position: relative;
        bottom:11rem;
        left:1rem;
        color:rgb(254, 253, 253);
    
    }
    
#Rewards_are_waiting>div{
    display: flex;
    /* jus */

}
#Rewards_are_waiting>div>div:nth-child(1){
    flex:1.7;
}
#Rewards_are_waiting>div>div:nth-child(2){
    flex:2;
}
#Rewards_are_waiting>div>div:nth-child(3){
    flex:0.6;
}

#Reward_county_codes>button{
    font-size: 10px;    
}

#Rewards_are_waiting>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#Rewards_are_waiting>div>div:nth-child(3){
    /* border:2px solid green; */
    display: none;
   
}
.Reward_li{
    margin-left:-1rem;
    font-size: 21px;
    width:100%;
    line-height: 3rem;
}
#Rewards_are_waiting>div>div{
    font-size: 12px;
}
.Destination_svg{
    width:3rem;
    height:3rem;
    margin-top:0rem;
}
#footer{
    font-size:14px;
}
#footer_img{
    height:5rem;
    width:10rem;
    /* border:2px solid red; */
    margin-top:-1rem;
}
#navbar_right>ul{
    display: none;
}
}

>>>>>>> 1dd721bc3f56d9d8bc61de8f4f9b35325ac9d7ae
