
#container{
    width: 80%;
    margin: auto;
    border: 1px solid black;
}
#images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
}
#images img{
    width: 100%;
} #gridImg{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    gap: 5px;
}

