
body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-color:whitesmoke;
}

img:hover{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

#container{
    width: 80%;
    margin: auto;
    padding: 30px;
}
#images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
}
#images img{
    width: 100%;
} #gridImg{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    gap: 5px;
}
#detail{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 30px;
}
#detail p{
    color: rgb(94, 92, 92);
    font-size: 20px;
}
#detail img{
    width: 60%;
}
.popular{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    font-weight: bold;
}
#navTrack{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding: 20px;
    justify-content: space-around;
    font-weight: bold;
    position: relative;
    top: 0;
    z-index: 100;
}
#navTrack div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.book{
    padding: 10px 30px;
    background-color: #c83259;
    color: white;
    font-size: 20px;
}
.book:hover{
    background-color: green;
}
#rooms{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.slot{
    width: 25%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    line-height: 5px;
}
.slot h2{
    line-height: 25px;
}
.slot:hover{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border: 1px solid aqua;
}
.slot img{
    width: 100%;
    border-radius: 20px;
}
button{
    border: 3px solid aqua;
}
